@model Task1.Store

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Store Details</h4>
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Store_Address)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Store_Name)
                </td>

            </tr>

            <tr>

                <td>
                    @Html.DisplayFor(model => model.Store_Address)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Store_Name)
                </td>


            </tr>

        </table> 

    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
