@model    List<Product>
@{
    ViewBag.Title = "Create";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            width: 100%;
            padding: 2px;
        }

        tr, td {
            border-top: 1px solid grey;
            border: 1px, solid;
            text-align: left;
            padding: 8px;
        }

        th {
            column-span: all;
        }
    </style>

</head>

<body>

    <h2>   Product </h2>
    <a id="CreateNew" href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New</a>






    <div id="myModal" class="modal fade" role="dialog">

            <!-- Modal content-->

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">


                    <form id="ProdForm">

                        <div class="form-group">
                            <label for="Product Name">Product Name:</label>

                            <input type="text" class="form-control" id="Product_Name" name="prodName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="Product Price">Product Price:</label>
                            <input type="text" class="form-control" id="Product_Price">
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <input type="Reset" value="Submit" class="btn btn-primary" id="btnSubmit">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

                </div>
            </div>

        </div>


    <script>


        $('#myModal').on('show.bs.modal', function (e) {
            var bookId = $(e.relatedTarget).data('book-id');


            $(e.currentTarget).find('input[name="prodName"]').val(bookId);

        });

        $(Document).ready(function () {

            $("#btnSubmit").click(function () {

                var product_Name = $("#Product_Name").val();
                var product_Price = $("#Product_Price").val();

                var prodData = {
                    Product_Name: product_Name,
                    Product_Price: product_Price,
                };

                $.ajax({

                    type: "Post",
                    url: "/Product/Product_Create",
                   // dataType:JSON,
                    //data: JSON.stringify(prodData),
                    //data: { status: status, name: name },
                    data:prodData,
                    success: function () {

                        $("#myModal").modal("hide");
                        location.reload(true);
                    }

                });

            })

        })





    </script>
  
    
     <table>

        <tr>
            <td> Name</td>
            <td> Price</td>
            <td></td>

        </tr>


        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Product_Name</td>
                <td>@prod.Product_Price</td>
                <td>
                      

                    <a href="#myModal" data-toggle="modal" data-book-id=@prod.Product_Name>Edit</a>

                            @Html.ActionLink("Details", "Details", "Product", new { id = prod.Id }, null)|
                            @Html.ActionLink("Delete", "Delete", "Product", new { id = prod.Id }, null)



                     
                </td>


            </tr>
        }


        <tr>
            <td></td>
        </tr>

    </table>





    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>

</html>
